.baner-background{
    margin: 0,auto;
   display: flex;
  
}
.percent{
width: 45%;
}
.image{
    width: 1400px;
  height: 60%;
}
.percent2{
    width: 45%;
    text-align: end;
    margin-top: 100px;
    margin-right:150px ;
}